bottle==0.13.4
cffi==2.0.0
clr_loader==0.3.1
colorama==0.4.6
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
proxy_tools==0.1.0
pycparser==3.0
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pythonnet==3.1.0
pywebview==6.2.1
six==1.17.0
typing_extensions==4.15.0
